#divParinte {
	margin-top:100px;
	width: 500px;
    height: 260px;
    background-color:#f2f2f2;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
	margin-top:100px !important;
}
#divCopil{
	background-color: #e6e6e6;
	width:460px;
	margin-left:20px;
	margin-right:20px;
	height:220px;
	margin-top:15px;
	margin-bottom:20px;
}
label{
	padding-right:6px;
}
#divPtUsername{
	padding-top:20px;
	margin-left:20px;
}
#divPtParola{
	margin-left:20px;
}
#submitButton{
	    width: 250px;
    margin-top: 21px;
    margin-left: 98px;
}
input{
	width:248px;
	border:2px solid #e6e6e6;
	border-radius:5px;
	height:20px;
}
.has-error{
	width: 234px;
    margin-top: 1px;
    margin-left: 79px;
	border:3px solid #ff6666;
	background-color: #ffb3b3;
	color: #ff6666;
	padding-left:10px;
	font-weight: bold;
}
.has-success {
	border:3px solid green;
}
#errorUsername{
	
}
#errorPassword:{
	
}
#submitButton {
	color:grey;
	text-align:center;
	height:30px;
	background-color: #f2f2f2;
}
#errorButton {
	margin-left:98px;
}
#labelUsername{
	padding-right:6px !important;
}
#labelPassword{
	padding-right:10px !important;
}
#errorButton{
	margin-top:20px;
}
label{
	 font-weight: bold;
}


td, th {
	border: 1px solid #000000;
	text-align: left;
	padding: 8px;
}

table {
	font-family:Verdana;
	border-collapse: collapse;
	width: 75%;
}

tr:nth-child(even) {
	background-color: #FFFFFF;
}

#adminBody {
    background-image: url("../images/adminBckg.jpeg");
}

#userBody {
    background-image: url("../images/user.jpg");
}

#indexBody {
    background-image: url("../img/login.jpg");
}

.text-color {
	color: #FFFFFF;
}

.margin-label {
display: inline-block;
  width: 140px;
  text-align: right;
  margin-top : 20px;
}

.buttons-admin {
	display: inline-block;
	margin-top : 20px;
	margin-left: 20px;
	width:170px;
	height:40px;
	text-align:center;
	background-color: #FFFFFF;
}

.admin-crud-div {
    display: table-cell;
    border: 1px solid blue;
    height: 330px;
}

